/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0d1117;
    /* match dark theme */
    overflow: hidden;
    /* no scrollbars */
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}